mixin advantage(icon, titleGreen, titleWhite, text)
  .advantage
    .advantage__icon.advantage__icon-

    h2.heading-h2= span= titleGreen
      span.hl= titleWhite    
        
    p.simple-text= text