section.page-class
    .container

        h1.heading-h1 преимущества G‑SYNC

        p.simple-text.simple-text-intro Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.

        .advantages-flex
            .advantage
                .advantage__icon.advantage__icon-1
                h2.heading-h2 HDR 
                    span.hl DISPLAY                    
                p.simple-text Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.

            .advantage
                .advantage__icon.advantage__icon-2
                h2.heading-h2 INPUT 
                    span.hl LAG                     
                p.simple-text Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.

            .advantage
                .advantage__icon.advantage__icon-3
                h2.heading-h2 HIGH REFRESH 
                    span.hl RATE                        
                p.simple-text NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.

            .advantage
                .advantage__icon.advantage__icon-4
                h2.heading-h2 WIDE COLOR 
                    span.hl GAMUT    
                    
                p.simple-text Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.

            //- +advantage('1', 'HDR ', 'DISPLAY', 'Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.')
            //- +advantage('2', 'INPUT ', 'LAG', 'Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.')
            //- +advantage('3', 'HIGH REFRESH ', 'RATE', 'NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.')
            //- +advantage('4', 'WIDE COLOR ', 'GAMUT', 'Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.')

        a(class='btn btn--green mr-center' href='#helloModal' data-toggle="modal") Купить
