#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			h2.heading-h2 преимущества G‑SYNC
			button.close(type='button' data-dismiss='modal' aria-label='Close')
			form
				input(type="text" placeholder="Имя") 
				input(type="text" placeholder="Mail") 
				button.btn.btn--green(type='button' data-dismiss='modal') купить
				
