@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin mask_options($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  mask-repeat: no-repeat;
  mask-position: center;
}
@mixin image_center {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
@mixin transition {
  transition: all .2s;
}